@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.container {
    /* background: linear-gradient(90deg,#ff66c7,#ffde59); */
    position: relative;
    width: 1200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}