* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.f-img:hover {
    opacity: 0.80;
}

.head3 {
    color: #008DDA;
    font-weight:bold;
}